
body {
    background-color: #def5f5; /* Light blue-gray background */
    display: flex;
    flex-direction:row;
}

.left {
    width: 300px;
    background-color: #f3dada; /* Light pink */
    margin: 10px;
    padding: 20px; /* Adding some padding */
    border-radius: 10px; /* Rounded corners */
}

.leftTop {
    width: 290px;
    height: 400px; /* Reducing the height */
    background-color: #95caca; /* Very light blue */
    margin: 5px;
    border-radius: 10px;
}

.leftBottom {
    width: 290px;
    height: 390px; 
    background-color: #87ce87; 
    margin: 5px;
    margin-top: 15px;
    border-radius: 10px;
}
/* ****************************************middle*********************************************************  */
.middle {
    width: 600px;
    border-radius: 10px;
    background-color: #d39545;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.middleChild {
    width: 570px;
    height: 830px;
    background-color: #18627a;
    margin: 10px;
    border-radius: 5px;
}

.middleC1 {
    width: 560px;
    height: 220px;
    background-color: #7996a0;
    margin: 5px;
    margin-top: 15px;
}

.middleC2 {
    width: 560px;
    height: 570px;
    background-color: #404040;
    margin: 5px;
}
.right {
    width: 300px;
    background-color: #d0d0db; 
    margin: 10px;
    padding: 20px; 
    border-radius: 10px; 
}

.rightTop {
    width: 290px;
    height: 400px; 
    background-color: #e68b8b; 
    margin: 5px;
    border-radius: 10px;
}

.rightBottom {
    width: 290px;
    height: 450px; 
     border-radius: 10px;
    background-color: #8a8add; 
    margin: 5px;
}
