.INTER{
    background-color: chartreuse;
    border-radius: 10px;
    padding: 30px;
}
#form1{
    background-color: rgb(124, 124, 212);
}
.main-head {
    color: indigo ;
    font-size: 34px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.head {
    color: blueviolet !important;
    
    
}
.edu{
    height: auto;
    background-color: aqua;
    color: brown;
    border-radius: 10px;
    padding: 5px;
    

}
#form1 {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
input {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: #ff5500;
    font-size: 18px;
}
.radio-button {
    font-size: 20px;
}
.acc {
    padding: 10px;
    border-radius: 10px;
    background-color: #ff5500;
    margin: 2px;
}
.disc {
    padding: 10px;
    border: 2px solid gray;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}